{%  extends "base.html.twig" %}

{%  block content %}

    <h4 class="col-md4 offset-3">These are some of our products</h4>
<div class="container-fluid" style="max-width: 100rem;">
    <div class="row">
{%  for product in products %}
    <div class="col-md-3 offset-1">
        <div class="card-body"> {{ product }}</div>
    </div>
{% endfor %}
    </div>



</div>

{% endblock %}